.technocard{
    cursor: pointer;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 4px solid var(--accent-color);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;

    img{
        height: 50px;
        margin: 10px;
    }
    h3{
        
        margin: 10px
    }

    &:hover {
        scale: 1.02;
        background-color: var(--accent-color);
        
        h3{
            color: white;
        }   
    }
}