.technocard {
  box-sizing: content-box;
  z-index: 2;
  cursor: pointer;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  color: var(--main-text-color);
  background-color: var(--background-color);
  position: relative;
  clip-path: inset(0);
  transition: box-shadow 0.2s ease-in-out; 

  img {
    height: 50px;
    margin: 10px;
    object-fit: contain;
  }

  h3 {
    margin: 10px;
    font-weight: 500;
    white-space: nowrap;
    color: var(--main-text-color);
    transition: font-weight 0.2s ease-in-out;

    &:hover {
      
      font-weight: 600;

    }
  }

  
}
