.technos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    scroll-margin-top: 108px;
    position: relative;
    padding-bottom: 40px;
    background-color: var(--seconbackground-color);
  
    h2 {
      z-index: 1;
      margin-top: 50px;
      margin-bottom: 30px;
      padding: 8px;
      color: var(--main-text-color);
      background-color: var(--background-color);
      width: 200px;
    }
  
    .card-container {
      z-index: 1;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      gap: 10px;
      padding-bottom: 100px;
    }
  }
  


  @media (max-width: 1150px) {
    .technos {
      height: auto; 
      padding-bottom: 20px; 
  
      h2 {
        font-size: 1.8rem; 
        width: 150px; 
      }
  
      .card-container {
        flex-wrap: wrap; 
        gap: 15px; 
        padding-bottom: 50px; 
      }
    }
  }
  
  @media (max-width: 768px) {
    .technos {
      
      height: auto; 
      padding-bottom: 20px;
  
      h2 {
        font-size: 1.5rem; 
        width: 120px; 
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
      .card-container {
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        padding-bottom: 20px; 
      }
    }
  }
  