// Couleurs
$background-color: #FAFAFA;
$secondary-background-color: #E0E0E0;
$main-text-color: #333333;
$secondary-text-color: #1C1C1C;
$accent-color: #607D8B;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablette: 768px;
$breakpoint-desktop: 1024px; // Vous pouvez ajuster ou ajouter d'autres breakpoints si nécessaire

// Typographie
$font-family-base: 'DM Sans', sans-serif;
$font-family-heading: 'Rajdhani', sans-serif;
$font-weight-base: 300;
$font-weight-heading: 600;
