@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rajdhani:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import './styles/variables';
@import './styles/mixin';

html {
  scroll-behavior: smooth;
}

.App {
  color: var(--accent-color);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  background-color: var(--background-color);
  transition: ease-in-out 0.2s;

  svg {
    color: var(--accent-color);
  }

  .body {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skills-and-technos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

#root {
  background-color: var(--background-color);
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4 {
  color: var(--main-text-color);
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

p, a {
  color: var(--main-text-color);
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

@media (max-width: 1024px) {
  .App {
    

    .skills-and-technos {
      flex-direction: column;
      gap: 15px; 
      width: 100%; 
    }
  }

  h1, h2, h3, h4 {
    font-size: 1.5rem;
  }

  p, a {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .App {
    gap: 2vh; 
    max-width: 100%;

    .body {
      margin-top: 80px;
      max-width: 100%;
      width: 100%;
    }

    .skills-and-technos {
      flex-direction: column;
      gap: 10px;
      width: 100%; 
    }
  }

  h1, h2, h3, h4 {
    font-size: 1.2rem; 
  }

  p, a {
    font-size: 0.9rem; 
  }
}
